<% if (spree_current_user && spree_current_user.store_credits_total > 0) %>
  <div class="store-credits discount">
    <div class="merchants_discount" data-hook="checkout_payment_step">
      <% usable_amount = @order.store_credit_maximum_usable_amount.to_money('USD').exchange_to('KRW').to_i %>
      <p>
        <%= Spree.t('you_have_store_credit', amount: display_currency(spree_current_user.store_credits_total)).html_safe %><br/>
        <label><%= Spree.t('enter_desired_amount_of_store_credit') %></label><br/>

        <%= form.number_field :store_credit_amount, size: 19, value: usable_amount, min: 0, max: usable_amount, data: { store_credit_maximum_amount: usable_amount, store_credit_maximum_amount_message: Spree.t('store_credit_maximum_amount', amount: number_to_currency(@order.store_credit_maximum_usable_amount)) } %> 원
      </p>
    <% end %>
  </div>
</div>